.inserttext {
    height: 200px;
}

.submitbutton {
    display:block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
}

.submitbutton:hover {
    background-color: lightgray
}

.submitbutton:active {
    background-color: lightgray
}