<div class="text-center">
  <h1>About the Site</h1>
</div>
<div class="p-3 my-3 mx-5">
  <p>
      <b>Tune My Text</b> is a website to pair a song to a user's provided text. Using natural language processing models, text can be classified into an emotion. Songs are classified similarly with a machine learning model. The text will then be paired with a fitting song!
  </p>
  <br>
  <p>
      All songs are public domain and free for general use.  
  </p>
  <br>
  <p>
    <b>Tune My Text</b> is 100% open source.  To learn more about how the website is built, visit our <a href="https://github.com/dennystasaski/TuneText">GitHub</a> repository!
  </p>
</div>