<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style=font-size:50px>
    {{ title }} Home
  </h1>
  <img width="100" alt="Cloud Music Picture" src="assets/cloudMusicNote.jpg">
</div>
<app-tunetext></app-tunetext>
<h2>Explore the API: </h2>
<ul>
  <li>
    <button (click)="onClickMe()">Get current weather</button>
      {{clickMessage}}
  </li>
  <li>
      <button (click)="onClickPlaylist()">Get a playlist</button>
        {{playlistMessage}}
    </li>
</ul>


<router-outlet></router-outlet>
