<div class="container">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img width="100" alt="Cloud Music Picture" src="assets/cloudMusicNote.jpg">
  </div>
  <app-tunetext></app-tunetext>
  <h2>Explore the API: </h2>
  <ul>
    <li>
      <button (click)="onClickMe()">Get current weather</button>
        {{clickMessage}}
    </li>
    <li>
        <button (click)="onClickPlaylist()">Get a playlist</button>
          {{playlistMessage}}
      </li>
  </ul>


  <router-outlet></router-outlet>
</div>
