<div class="text-center mx-auto w-50 m-3">
  <div *ngIf="playService?.sentiment != 0; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <div>
      <p>Your text has been classified as:<p>
    </div>
    <div>
      <h5>{{ playService?.sentiment }}</h5>
    </div>
    <div>
      <button (click)="pressButton()" class="btn btn-success btn-lg m-1">{{ buttonText }}</button>
    </div>
    <div *ngIf="!saved; else savedBlock"> 
      <button (click)="savePlayer()" class="btn btn-secondary btn-sm m-1">{{ savePlayerText }}</button>
    </div>
    <ng-template #savedBlock>
        <div *ngIf="savedID != 0; else loadingBlock"> 
          <p>Your Tune has been saved! Your ID is {{ savedID }}</p>
        </div>
        <ng-template #loadingBlock>
          <p>Loading...</p>
        </ng-template>
    </ng-template>
  </ng-template>
  <ng-template #elseBlock>
      <div *ngIf="playService?.stored; else notStored">
          <div *ngIf="!playService?.error; else error">
            <p>Saved Tune</p>
          </div>
          <ng-template #error>
            <h5 class="error">Error: Tune not found!</h5>
            <div>
              <p>Try making your own Tune <a routerLink="">here</a>!</p>
            </div>
          </ng-template>
      </div>
      <ng-template #notStored>
        <h3>Loading...</h3>
      </ng-template>
  </ng-template>
</div>

